@font-face {
    font-family: "iconfont";
    /* Project id 3165541 */
    src: url('//at.alicdn.com/t/font_3165541_48tsruchgnu.woff2?t=1649767092244') format('woff2'), url('//at.alicdn.com/t/font_3165541_48tsruchgnu.woff?t=1649767092244') format('woff'), url('//at.alicdn.com/t/font_3165541_48tsruchgnu.ttf?t=1649767092244') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-add-circle:before {
    content: "\e664";
}

.icon-bussiness-man:before {
    content: "\e6ef";
}

.icon-all-fill:before {
    content: "\e718";
}

.icon-add-account:before {
    content: "\e741";
}

.icon-connections:before {
    content: "\e74a";
}

.icon-image-text:before {
    content: "\e753";
}

.icon-online-tracking:before {
    content: "\e75b";
}

.icon-tool:before {
    content: "\e769";
}

.icon-discount-fill:before {
    content: "\e77d";
}

.icon-home-fill:before {
    content: "\e7ae";
}

.icon-shouqi:before {
    content: "\e7d3";
}

.icon-zhankai:before {
    content: "\e7d4";
}

.icon-user-filling:before {
    content: "\e68b";
}

.icon-list-settings-fill:before {
    content: "\e60c";
}

.icon-home-2-fill:before {
    content: "\e610";
}

.icon-leftarrow:before {
    content: "\e755";
}

.icon-Rightarrow:before {
    content: "\e761";
}

.icon-nav-list:before {
    content: "\e6fd";
}

.icon-cangku:before {
    content: "\ee05";
}

.icon-fabu:before {
    content: "\ee06";
}

.icon-jiance:before {
    content: "\ee07";
}

.icon-dianpu:before {
    content: "\ee08";
}

.icon-ruzhu:before {
    content: "\ee09";
}

.icon-biaoqian:before {
    content: "\ee0a";
}

.icon-bianxie:before {
    content: "\ee0b";
}

.icon-fapiao:before {
    content: "\ee0c";
}

.icon-gerenzhongxin:before {
    content: "\ee0d";
}

.icon-guanggao:before {
    content: "\ee0e";
}

.icon-quanqiu:before {
    content: "\ee0f";
}

.icon-quanxian:before {
    content: "\ee10";
}

.icon-jiancha:before {
    content: "\ee11";
}

.icon-duowenjian:before {
    content: "\ee12";
}

.icon-kefu:before {
    content: "\ee13";
}

.icon-fahuo:before {
    content: "\ee14";
}

.icon-a-24xiaoshi:before {
    content: "\ee15";
}

.icon-caozuorizhi:before {
    content: "\ee16";
}